body {
    background-color:#D8D8D8 ;
}
#login {
	width:500px;
	height:auto;
	-webkit-border-radius: 22px 20px 20px 27px;
	-moz-border-radius: 22px 20px 20px 27px;
	border-radius: 22px 20px 20px 27px;
	background-color: #909090 ;
	-webkit-box-shadow: #b3b3b3 4px 4px 4px;
	-moz-box-shadow: #b3b3b3 4px 4px 4px; 
	box-shadow: #b3b3b3 4px 4px 4px;
	margin-left:auto;
	margin-right:auto;
	 margin-top:100px;
	 padding:15px;
}


.hedinh-tag{
	text-align:center;
	font-family: "Times New Roman", Times, serif;
	font-size:20px;
	text-transform:uppercase;
	color: #000000;
}
.main-table{
	width:100%;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999;
	color: #383838 ;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
}
#col-lg-12{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}