#form {
    font-family: "Times New Roman", Times, serif;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
.hedinh-tag {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #000000;
}
.main-table {
    width: 100%;
    min-width: 250px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #999;
    color: #383838;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: normal;
}
.wrapper {
    text-align: center;
}
.button {
    position: absolute: top: 50%;
}
.input_class {
    width: 100%;
}
td {
    padding-top: 2%;
}

td td {
	padding-top: 0px;
}

.errorMessage {
	color: red;
}