html,
body {
    height: 105%;
}

body {
    padding-top: 0px;
    background-color:#D8D8D8}
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: auto;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}


header.carousel .fill {
    width: 110%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.period {
    display: block;
    font-style: italic;
}

footer {
    margin: 50px 0;
}

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

.page-header {
  padding-bottom: 9px;
  margin: 10px 0 20px;
  border-bottom: 1px solid #eee;
}

.container-fluid {
 background: #ffffff; 
 margin: 40px 0 0 0; 
 padding: 0 0 0 0; 
 box-shadow: none;
width: 100%;
}

.carousel-control.right {
right: 0;
left: auto;
background-image: none;
background-image: none;
}

.carousel-control.left {
background-image: none;
background-image: none;
} 

div { word-break: break-all; }

img { max-width:100%; }

a {
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease; 
	}
    a:hover {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
        filter: alpha(opacity=50); /* IE7 */
        opacity: 0.6;
        text-decoration: none;
    }
